<p>1. Reactive Programming </p>

<p>
Reactive Programming es un modelo de programación orientado a los flujos de datos y a la transmisión de cambios. Al contrario que en la programación habitual, en la que los eventos se suceden de forma forzosa y secuencial, esta se centra en realizar flujos de datos de manera asíncrona, permitiendo trabajar varios procesos que ocurran al mismo tiempo. Es decir, los componentes declarados reaccionarán a los cambios de datos anteriores, permitiendo que interaccionen entre sí, aportando distintas ventajas: 
 
Composición y modularidad: facilita la creación de operadores sobre los flujos de datos, permitiendo crear pequeños módulos lógicos reutilizables a lo largo de la aplicación. 
 
Reactividad: los módulos responderán de forma rápida y fluida a los cambios en los datos. 
 
Manejo simple de las operaciones: permite el trabajo con operadores y observables. 
 
Código más limpio y ordenado: al crear un orden de flujo de datos, permite un código más claro, simple y comprensible. 
 
Sincronización de eventos: permite gestionar eventos de forma simple, haciendo más sencilla la gestión de interfaces y datos a tiempo real. 
</p>