<h3>
    Merge
</h3>

<p>
    Merge es un operador de combinación que combina dos o más Observables en uno solo y no introduce ningún tipo de modificación o alteración en el orden temporal en que los valores de cada uno de los Observables fueron emitidos.
</p>
<button class="btn btn-primary" (click)="mostrarDatosMerge()">Ejemplo</button>

<h3>
    Concat
</h3>

<p>
    Concat es otro operador de combinación, pero a diferencia de merge, que combina los valores en el mismo orden que fueron emitidos, concat espera a que el primer Observable emita su complete 
</p>

<button class="btn btn-primary" (click)="mostrarDatosConcat()">Ejemplo</button>

<h3>
    CombineLatest
</h3>

<p>
    CombineLatest es otro operador de combinación y que combina los valores emitidos por los distintos Observables, suscribiéndose a los distintos observables al mismo tiempo y devolviendo todos sus valores agrupados por el último valor de cada uno de los Observables
</p>

<h3>
    MergeAll
</h3>
<p>
    MergeAll es un operador que permite aplanar Observables de Observables, utilizando el mismo criterio que merge, es decir, sin alterar el orden temporal en el que los valores fueron emitidos
</p>

<h3>
    SwitchMap
</h3>
<p>
    De la misma forma que mergeMap es la combinación de map + mergeAll, SwitchMap es la combinación de un map + switch. La particularidad que tiene Switch es que cancelará la subscripción del primer Observable cuando detecta que el segundo Observable comienza a emitir valores por lo que es un operador muy útil cuando nos queremos asegurar de no hacer "pooling"
</p>

<h3>
    ExhausMap
</h3>
<p>
    (explicarlo junto al swichMap)
</p>

<h3>
    ConcatMap
</h3>
<p>
    (explicarlo junto al swichMap)
</p>
