<p>fundamentos-rx-js works!</p>
<h1>2. Fundamentos de RxJS </h1>
<p>
RxJS es la biblioteca de JavaScript que implementa Reactive Programming. Esta, proporciona una serie de operadores y observables que permiten el trabajo de datos asíncrono, utilizando eventos que pueden ser controlados y observados de manera reactiva, es decir, reaccionando unos con otros. 
 
Los tres principios básicos son los siguientes: 
 
Observable: es una secuencia de eventos que puede ser observada a lo largo del tiempo, que permite varios valores y transmite la información de dichos procesos. 
 
Observer: es el que se encarga de consumir los datos procedentes del Observable. Se trata del conjunto de funciones realizadas al emitir información; ya sea la que produce el observable, de un error o de la finalización de las funciones; realizadas al terminar la secuencia del Observable. 
 
Suscription: es la conexión entre el Observable y el Observer. Este se encarga de recibir los valores emitidos, llevarlos hasta las funciones necesarias, lanzarlas de forma ordenada y eliminar los recursos que ya no sean necesarios, una vez acaben las funciones a las que llama. 
</p>